:root {
  --primary: rgb(21, 18, 28);
  --primaryLight: rgb(33, 29, 44);
  --primaryLight2: rgb(52, 47, 68);
  --offWhite: rgb(239, 237, 228);
  --grey1: rgb(53, 47, 50);
  --grey2: rgb(242, 242, 242);
  --peach1: rgb(255,235,229);
  --peach2: rgb(255,213,193);
  --peach3: rgb(255,171,128);
  --teal1: rgb(111,209,193);
  --teal2: rgb(62,182,178);
  --teal3: rgb(111,209,193);
}

html {
  color-scheme: dark;
  color: var(--offWhite);
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
  background-color: var(--primary);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryLight);
  border-radius: .4rem;
  width: 90%;
  margin: 1rem 0;
}

article > h1 {
  width: 90%;
  text-align: left;
  border-bottom: solid .1rem var(--offWhite);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 4px black
}

p {
  width: 90%;
  margin: 0;
  margin-bottom: 1rem;
  font-family: sans-serif;
  text-wrap: wrap;
}

pre {
  margin: 0 2rem;
}

@media (max-aspect-ratio: 4/4) {
  main {
    padding-top:0;
  }
}